
.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #A42525;
  padding: 20px 30px;
}
.shopping-card>div{
 color: white;
 font-size: 2em;
}

.product-item {
  padding: 20px;
  border-radius: 1.5em;
  box-shadow: 5px 5px #dedede ;
  margin: 1em;
}
.card{
  margin: 2em;
  font-size: 1.5em;
  background-color: #dedede;
}
.btn{
  margin: 2em;
  font-size: 3em;
}



/* for tablets */
@media only screen and (max-width: 768px) {

.product-item{
   display: grid;
   grid-template-columns: repeat(1fr);
}
}


/* for mobiles */
@media only screen and (max-width: 600px) {
.child{
   background-color: blue;
}
.product-item{
  display: grid;
  grid-template-columns: repeat(1fr);
}

}